<h1><%= @facade.vendor.name %></h1>

<p>Name: <%= @facade.vendor.contact_name %></p>
<p>Phone: <%= @facade.vendor.contact_phone %></p>
<p>Accepts Credit: <%= @facade.vendor.credit_accepted ? 'Yes' : 'No' %></p>
<p>Description: <%= @facade.vendor.description %></p>